*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgba(0, 0, 0, 0.893);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
  }
  
  /* header */
  nav{
    background-color: rgb(247, 247, 247);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 10vh;
    width: 100%;
  }

  nav .logo{
    font-weight: 600;
    font-family: sans-serif;
  }
  nav .logo span{
    color: burlywood;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
  }
  nav li{
    height: 90px;

  }
  nav a{
    position: relative;
    top: 5vh;
    padding: 0 30px;
    margin: 0 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  nav a .showNav .hideNav{
    text-transform: uppercase;
  }

  nav li:first-child{
    position: relative;
    bottom: 4vh;
    margin-right: auto;
    font-size: 50px;

  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.885);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sidebar li{
    width: 85px;
  }
  .sidebar a{
    position: relative;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar .close-button{
    position: absolute;
    width: 30%;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    top: 5vh;
    right: -45px;

  }

  .menu-button{
    display: none;
  }
  nav a:hover{
    color:rgb(76, 76, 76);
  }

  .showNav::after{
    content: '';
    height: 4px;
    width: 0;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: all .5s;
  }
  .showNav:hover::after{
    width: 100%;
  }

  /* Home */
  .container-home{
    width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 
   "introduction homephoto";
   color: white;
  }

  .homePhoto{
    grid-area: homephoto;
    display: flex;
    margin-top: 60px;
  }

  .introduction{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: introduction;
    letter-spacing: 2px;
    line-height: 2.5;
    letter-spacing: 1px;
    margin-top: 180px;
    margin-right: 100px;
  }

  /* Expertise */
  .container-expertise{
    margin-top: 30vh;
    height: 100vh;
    width: 100%;
    color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "myExperties"  "myExperties"  "myExperties"  "myExperties"
    "box-1" "box-2" "box-3" "box-4";
  }

  .container-expertise > :nth-child(n+2):nth-child(-n+5) {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 250px;
    margin-left: -100px;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 20px;
    color: black;
    height: 450px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    grid-area: myExperties;
    margin-left: 50px;
    margin-top: 100px;
  }

  .card-1{
    grid-area: box-1;
  }

  .card-2{
    grid-area: box-2;
  }

  .card-3{
    grid-area: box-3;
  }

  .card-4{
    grid-area: box-4;
  }

  @media(max-width: 1080px){
    .sidebar{
      width: 100%;
      z-index: 9999;
      opacity: 90%;
    }

  .showNav{
    display: none;
    
  }
  .menu-button{
    display: block;
   
  }
  .close-button{
    position:absolute;
    margin:0; 
  }
  .hideNav::after{
    content: '';
    height: 4px;
    width: 0;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: all .5s;
  }

.hideNav:hover::after{
    width: 100%;
  }

.container-home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "homephoto"
    "introduction";
  }

.homePhoto{
    grid-area: homephoto;
    display: flex;
    justify-content: center; 
  }

.introduction{
  grid-area: introduction;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  }

  .container-expertise {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "myexpertise" "myexpertise" "myexpertise"
    "myexpertise" "box-1" "box-2"
    "myexpertise" "box-3" "box-4";
    grid-gap: 30px; 
  }

  .h1 {
    grid-area: myexpertise;
  }
  
  .box-1 {
    grid-area: box-1;
  }
  
  .box-2 {
    grid-area: box-2;
  }
  
  .box-3 {
    grid-area: box-3;
  }
  
  .box-4 {
    grid-area: box-4; 
  }

}

@media(max-width: 700px){

  .sidebar{
    width: 100%;
    z-index: 9999;
    opacity: 90%;
  }
  .sidebar .close-button{
    position: absolute;
    right: 30px;
  }
  .hideNav::after{
    content: '';
    height: 4px;
    width: 0;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: all .5s;
  }
  .hideNav:hover::after{
    width: 100%;
  }
  
  .container-home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "homephoto"
    "introduction";
  }

  .homePhoto{
    grid-area: homephoto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .introduction{
    grid-area: introduction;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .container-expertise{
    margin-top: 30vh;
    height: 100vh;
    width: 100%;
    color: white;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "myExperties" "myExperties"
    "box-1" 
    "box-2" 
    "box-3" 
    "box-4";
  }

  h1{
    grid-area: myExperties;
    display: flex;
    justify-content: center;
  }

  .card-1{
    grid-area: box-1;
  }

  .card-2{
    grid-area: box-2;
  }

  .card-3{
    grid-area: box-3;
  }

  .card-4{
    grid-area: box-4;
  }

  .container-expertise > :nth-child(n+2):nth-child(-n+5) {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 20px;
    color: black;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}